
<div class="container signup">
    <!--legend>Registration</legend-->
    <h2 id="signup-title" class="text-center">Registration</h2>
    <!--div class="text-center"-->
    <div id="signup-welcome" class="text-center">
      Sign up to receive our newsletter.  Also enter your favorite menu item so we will better be able to serve you in the future!<br><br>
    </div>
    <div class="row">
      <div class="text-center">
        <fieldset>
          <form name='regForm' novalidate>
            <div class="form-group">
              <!--label for="firstname">First name:</label-->
              <input type="text" name="firstname" placeholder="First Name"
                ng-model="reg.user.firstname"
                required
                minlength="4"
                ng-maxlength="15">
            </div>
            <span
              ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
              First name must be at least 4 characters long
            </span>
            <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
              First name must not be longer than 10 characters
            </span>

            <div class="form-group">
              <!--label for="lastname">Last name:</label-->
              <input type="text" name="lastname" placeholder="Last Name"
                ng-model="reg.user.lastname"
                required
                minlength="4"
                ng-maxlength="15">
            </div>
            <span
              ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
              Last name must be at least 4 characters long
            </span>
            <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              Last name must not be longer than 10 characters
            </span>

            <div class="form-group">
              <!--label for="email">Email:</label-->
              <input  type="email" name="email" placeholder="Email"
                ng-model="reg.user.email"
                required>
            </div>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
              Must be a valid email address: handle@domain format
            </span>

            <div class="form-group">
              <!--label for="phone">Phone:</label-->
              <input  type="text" name="phone" placeholder="Phone ###-###-####"
                ng-model="reg.user.phone"
                pattern="(\d{3})-(\d{3})-(\d{4})">
            </div>
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
              Phone must be in the format ###-###-####.
            </span>

            <div class="form-group">
              <!--label for="firstname">Favorite Menu item</label-->
              <!--ng-change="reg.validateMenuItem(regForm,reg.user.menufav)" -->
              <input type="text" name="menufav" placeholder="Favorite dish"
                ng-model="reg.user.menufav"
                pattern="\w+\d+"
                required>
            </div>
            <span ng-if="(regForm.menufav.$invalid && regForm.menufav.$touched) || reg.menuInvalid">
              No such menu number exists!
            </span>
            <br>

          <button
            ng-disabled="regForm.$invalid" ng-if="!reg.completed"
            ng-click="reg.submit()">Submit</button>

          <div id="info" ng-if="reg.completed">
               Your information has been saved.<br>
               <button id="reset-btn"
                 ng-click="reg.reset(regForm)">OK</button>
          </div>

          </form>
        </fieldset>
      </div>
    </div>





</div>
