<div class="container myinfo">
    <h2 ng-if="myInfo.registered" id="myinfo-title" class="text-center">My Registration Info</h2>
    <div ng-if="myInfo.registered" id="myinfo-welcome" class="text-center">
      We appreciate your business!<br>   Please stop by and check out or daily specials.<br>  Also check the newsletter for news and updates!<br><br>
    </div>
    <div ng-if="!myInfo.registered" id="myinfo-signup" class="jumbotron text-center">
      <h1>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h1><br><br>
    </div>

    <div ng-if="myInfo.registered" class="card border-primary">
      <div class="card-body">
	      <h4 class="card-title"><b>{{myInfo.user.firstname}} {{myInfo.user.lastname}}</b></h4>
        <p class="card-text"><b>Email: </b>{{myInfo.user.email}}<br><b>Phone: </b>{{myInfo.user.phone}}<br><b>Favorite Item: </b>{{myInfo.user.menufav}}</p>
      </div>

      <img class="card-img-top" src="{{myInfo.basePath}}/images/{{myInfo.user.menu_item.short_name}}.jpg" alt="Card image">
      <p class="cart-text"><b>{{myInfo.user.menu_item.name}}</b><br>{{myInfo.user.menu_item.description}}</p>
      <!--a href="#" class="btn btn-primary">See Profile</a-->
    </div>
    <br>
    <div ng-if="myInfo.registered" class="text-center">
	    <button ui-sref="public.home" href="#/">OK</button>
    </div>

</div>
