<div class="container myinfo">
    <h2 ng-if="myInfo.registered" id="myinfo-title" class="text-center">My Registration Info</h2>
    <div ng-if="myInfo.registered" id="myinfo-welcome" class="text-center">
      We appreciate your business!<br>   Please stop by and check out or daily specials.<br>  Also check the newsletter for news and updates!<br><br>
    </div>
    <div ng-if="!myInfo.registered" id="myinfo-signup" class="jumbotron text-center">
      <h1>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h1><br><br>
    </div>


    <form>
      <div ng-if="myInfo.registered" class="text-center">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">First name:</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control rounded"
              ng-model="myInfo.user.firstname">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Last name:</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control"
              ng-model="myInfo.user.lastname">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Email:</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control"
              ng-model="myInfo.user.email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Phone:</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control"
              ng-model="myInfo.user.phone">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Favorite Item</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control"
             ng-model="myInfo.user.menufav">
          </div>
        </div>
        <br>
        <button ui-sref="public.home">OK</button>
      </div>

    </form>


    <!--form name='myInfoForm' novalidate>
      <div class="form-group row">
        <label for="firstname" class="col-lg-2 col-form-label">First name:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control-plaintext" name="firstname"
            ng-model="myInfo.user.firstname" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-lg-2 col-form-label">Last name:</label>

        <div class="col-sm-2">
          <input type="text" class="form-control-plaintext" name="lastname"
            ng-model="myInfo.user.lastname" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-lg-2 col-form-label">Email:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control-plaintext" name="email"
            ng-model="myInfo.user.email" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-lg-2 col-form-label">Phone:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control-plaintext" name="phone"
            ng-model="myInfo.user.phone" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-lg-2 col-form-label">Favorite Menu item</label>
        <div class="col-sm-2">
          <input type="text" class="form-control-plaintext" name="menufav"
            ng-model="myInfo.user.menufav" readonly>
        </div>
      </div>

      <br>

      <button ui-sref="public.home">OK</button>
    </form-->
    <!--div class="row">
      <div>
        <fieldset>
          <form name='myInfoForm' novalidate>
            <div class="form-group row">
              <label for="firstname" class="col-sm-2 col-form-label">First name:</label>
              <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" name="firstname"
                  ng-model="myInfo.user.firstname" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastname" class="col-sm-2 col-form-label">Last name:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control-plaintext" name="lastname"
                ng-model="myInfo.user.lastname" readonly>
            </div>

            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control-plaintext" name="email"
                ng-model="myInfo.user.email" readonly>
            </div>

            <div class="form-group row">
              <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control-plaintext" name="phone"
                ng-model="myInfo.user.phone" readonly>
            </div>

            <div class="form-group row">
              <label for="firstname" class="col-sm-2 col-form-label">Favorite Menu item</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control-plaintext" name="menufav"
                ng-model="myInfo.user.menufav" readonly>
            </div>
            <br>

            <button ui-sref="public.home">OK</button>

          </form>
        </fieldset>
      </div>
    </div-->
</div>
